h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand"; }

body {
  background-color: #f4f4f4; }

.toolbar {
  position: fixed;
  top: 5%;
  left: 0;
  padding-bottom: 20px;
  background-color: #312d16;
  background-color: rgba(49, 45, 22, 0.5);
  /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  /*FF 3.5+*/
  box-shadow: 3px 3px 3px #333; }

.adminHeader {
  margin-top: 15%;
  padding-bottom: 19px;
  font-size: 30px;
  font-weight: 700; }
  .adminHeader a {
    height: 50px;
    padding: 15px;
    color: #ddd;
    font-family: lato;
    line-height: 20px; }
    .adminHeader a:hover {
      text-decoration: none; }

.adminLinks {
  position: relative;
  left: -14px;
  width: 100%;
  background-color: #eee; }
  .adminLinks > div {
    position: relative; }
  .adminLinks a {
    text-decoration: none;
    color: #000;
    font-family: lato;
    font-weight: 600; }
    .adminLinks a:hover p {
      left: 5%; }
    .adminLinks a p {
      position: relative;
      left: 0;
      font-size: 0.9em;
      margin: 0;
      padding: 8px 0 10px 15px;
      /* FF3.6+ */
      /* Chrome,Safari4+ */
      /* Chrome10+,Safari5.1+ */
      /* Opera 11.10+ */
      /* IE10+ */
      -webkit-transition: all .6s ease-in-out;
      transition: all .6s ease-in-out;
      background: -webkit-linear-gradient(#fff 0%, #f8f8f8 100%);
      background: linear-gradient(#fff 0%, #f8f8f8 100%);
      /* W3C */
      /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
      /*FF 3.5+*/
      box-shadow: 0px 3px 3px #333333; }

.before_msg {
  font-style: italic;
  display: none; }

.jumbotron h1 {
  font-family: "Roboto-Bold"; }

.categories {
  width: 95%;
  margin-left: 5%; }
  .categories a p {
    text-transform: capitalize; }
    .categories a p:hover {
      left: -5%; }
  .categories thead th {
    text-align: center; }

.collapseArrow {
  margin-right: 3%;
  padding: 1px 8px;
  /*margin-top: -5px;*/
  position: absolute;
  z-index: 100;
  top: 10px;
  right: 1px; }
  .collapseArrow:hover {
    cursor: pointer; }

.login label + div {
  margin-bottom: 10px; }

.mailReceiverlabel {
  text-transform: capitalize; }

.ctgy_name {
  text-transform: capitalize; }

.productForm label {
  line-height: 2; }

/*# sourceMappingURL=admin.css.map */
