body {
    padding-top: 70px;
    min-height: 100%;
}

.modal-content {
    min-width: 370px;
}

a {
    font-family: lato;
}

.before_msg {
    font-style: italic;
    display: none;
}

nav ul.nav {
    text-align: center;
    text-transform: capitalize;
    font-family: lato;
    font-size: 120%;
    li {
        transition: 0 all 5.6s ease;
        &:hover {
            /* for IE */
            background: -webkit-linear-gradient(#f4f4f4 0%, #dc4115 96%);
            background: -o-linear-gradient(#f4f4f4 0%, #dc4115 96%);
            background: linear-gradient(#f4f4f4 0%, #dc4115 96%);
            /* W3C */
        }
    }
}

.text-info {
    display: block;
    padding-left: 10px;
    font-weight: 600;
    font-style: italic;
}

.log_on ul li {
    &:nth-child(1) {
        margin-left: 23%;
    }
    &::nth-child(2) {
        margin-right: 23%;
    }
}

.cart {
    position: fixed;
    z-index: 1031;
    top: 1%;
    right: 20%;
    width: auto;
    padding: 2px;
    border: solid thin #fff;
    border-radius: 20%;
    background-color: #F6E8CD;
    /*FF 3.5+*/
    -webkit-box-shadow: 0 0 15px #333333;
    /*IE 8*/
    -moz-box-shadow: 0 0 15px #333333;
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 0 15px #333333;
    font-family: "Roboto-Regular";
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=15, Direction=90, Color=#333333)";
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    a {
        text-decoration: none;
        color: #000;
    }
    h4 {
        font-family: "Roboto-bold";
        font-weight: 600;
        &::hover .content {
            display: inherit;
        }
    }
}

.content {
    left: -80% !important;
    margin: auto;
    padding: 5px 10px;
    text-align: center;
}

.carousel-inner {
    height: 450px;
    img{
        min-height:450px;
    }
}

.clothing_header {
    text-transform: capitalize;
}

.orders {
    margin-top: 10px;
}

.order-row td {
    vertical-align: middle !important;
}

.item-name p {
    padding-top: 2px;
    padding-left: 6px;
    text-align: center;
    font-size: 13px;
    small {
        display: block;
        padding-left: 10px;
        font-weight: 600;
        font-style: italic;
    }
}

.pricing {
    text-align: center;
}

.qty p input {
    min-width: 50px;
    text-align: center;
}

.add_to_cart button {
    margin-top: -10px;
    margin-bottom: 10px;
}
table{
    max-width:95%;
}
.cart_init table tbody td {
    vertical-align: middle;
}

footer {
    background-color: #2F2F2F;
    h4 {
        color: #fff;
    }
    h4+ul li {
        display: inline-block !important;
        clear: both;
    }
}

.control-label {
    text-align: left !important;
}

.result_txt {
    margin-bottom: 0;
    margin-left: 10px;
    font-style: italic;
}